.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.quantity-input {
  width: 30px;
  text-align: center;
}

.heart-btn {
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}

.heart-btn.clicked {
  color: red;
}

.total-price {
  font-size: 20px;
  font-weight: bold;
}